.card {
  border:1px solid $text3;
  border-radius: 5px;
  background-color: #fff;
  height: 100%; // this shouldn't be necessary
  overflow: hidden;

  img {
    height:250px;
    object-fit: cover;
  }

  p, small {
    padding-left: 15px;
    padding-right: 15px;
  }

  small {
    display: block;
    margin-top: auto;
  }

  &.yes {
    border-color: #486824;
  }

  &.no {
    border-color: #D13525;
  }
}
