// http://www.colourlovers.com/palette/1047246/Playroom
$background: #F0ECC9;
$text1: #058789;
$text2: #D54B1A;
$text3: #E3A72F;
$copy: #503D2E;

// https://www.canva.com/learn/website-color-schemes/ #1
$background: #4ABDAC;
$text1: #FFFFFF;
$text2: #F7B733;
$text3: #FC4A1A;
$copy: #DFDCE3;

// https://www.canva.com/learn/website-color-schemes/ #13
$background: #FFFFFF;
$text1: #E24E42;
$text2: #E9B000;
$text3: #EB6E80;
$copy: #008F95;

// https://www.canva.com/learn/website-color-schemes/ #27
$background: #F2EEE2;
$text1: #F81B84;
$text2: #F5CE28;
$text3: #43C0F6;
$copy: #000;

// https://www.canva.com/learn/website-color-schemes/ #35
$background: #7CDBD5;
$text1: #307788;
$text2: #F53240; // #F9BE02;
$text3: #43C0F6;
$copy: #307788;

// https://www.canva.com/learn/website-color-schemes/ #09
$background: #D7CEC7;
$text1: #565656;
$text2: #76323F;
$text3: #C09F80;
$copy: #565656;

// https://www.canva.com/learn/100-color-combinations/ #36
$background: #FFFFFF;
$text1: #4C3F54;
$text2: #D13525;
$text3: #F2C057;
$copy: #4C3F54;

// https://www.canva.com/learn/100-color-combinations/ #54
$background: #F8F1E5;
$text1: #426E86;
$text2: #2F3131;
$text3: #F9BA32;
$copy: #2F3131;

// https://www.canva.com/learn/100-color-combinations/ #81
// This is too dark
// $background: #E1B16A;
// $text1: #444C5C;
// $text2: #CE5A57;
// $text3: #F9BA32;
// $copy: #2F3131;

// https://www.canva.com/learn/100-color-combinations/ #88
// This is not enough contrast
// $background: #FAEFD4;
// $text1: #688B8A;
// $text2: #A0B084;
// $text3: #F9BA32;
// $copy: #A57C65;
