.card {
  border:1px solid #486824;
  border-radius: 5px;
  background-color: #fff;
  overflow: hidden;
  flex: 1;
  height: 100%;

  img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    width: 100%;
  }

  p:first-child {
    margin: 0;
  }

  p + p {
    padding: 0 18px;
  }

  small {
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
  }

  &.no {
    border-color: #D13525;
  }
}

.full-height {
  display: flex;
}
